$primary-color: #272727;
$secondary-color: #ff652f;
$icon-color: rgba(
    $color: #000000,
    $alpha: 0.2,
);
$icon-hover-color: rgba(
    $color: #000000,
    $alpha: 0.5,
);

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    } @else {
        @return #fff;
    }
}
@mixin transition {
    transition: all 300ms ease-in;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}
